[2018-10-08 07:40] go4cas opened #3 "Actions not created"
I'm getting "unknown action type: entities/positions/$fetch" when calling `Position.$fetch();`:

[code]

`Position` model:
[code]

`positions` module:
[code]

`database.js`:
[code]

The rest of the elements (Model methods, state module, initial state and getters) are all created:
![2018-10-08_09-24-31](https://user-images.githubusercontent.com/12674784/46596859-26f5e600-cade-11e8-8ee1-94709dc6f82b

[2018-10-09 06:45] #3 closed

[2018-10-10 14:37] davidsandoz opened #5 ""ReferenceError: window is not defined" when used with server-side rendering"
### Description
When using this plugin in a project that is server-side rendered, we get the error `ReferenceError: window is not defined` in`dist/index.js:1:278`, because `window` does not exist in a server-side environment.

### Expected behaviour
The plugin should be working with server-side rendering.

[2018-10-11 12:53] KaniRobinson commented on #5
Issue is fixed in v0.1.2

[2018-10-11 12:53] #5 closed

[2018-10-15 11:43] davidsandoz commented on #5
Thanks!

[2018-10-21 19:57] bluetetra opened #6 "Unable to add params to fetch"
First of all, thank you for this wonderful plugin!  It has helped me quite a lot.  I did run into a snag that I hope you can help with.

I am stumped trying to add params to the fetch action.

When I try this:
[code]
It ignores all of my params.  Is there a way to add params to the fetch?  Thanks again!

[2018-11-01 08:33] malinushj commented on #6
@KaniRobinson Sure thing. I will strip any irrelevant data.
Folder.js:
[code]
And inside a component `create()` I call
[code]

[2018-11-01 08:36] malinushj commented on #6
@KaniRobinson I managed to pinpoint the problem

[2018-11-01 08:39] KaniRobinson commented on #6
@bluetetra and @malinushj I do appologise for the lack of documentation, i've been super busy with life, work and baby lol.

Example 1:
if you want your url to have params such as `/api/v1/users/:id`
[code]

Example 2:
If your url has query params such as `/api/v1/users?active=true`
[code]

Example 3:
if your url has both query params and a param such as `/api/v1/users/:id?active=true`
[code]

[2018-11-01 08:39] malinushj commented on #6
@bluetetra  Should be `query` instead of `params` inside the `$fetch`. Params is used for the URL segments like `user/:id` would be `params: { id: 5 }`.

[2018-11-01 08:40] malinushj commented on #6
@KaniRobinson just beat me to it 😁

[2018-11-01 08:42] KaniRobinson commented on #6
if you have url prefixes, such as `/api/v1/users/folders` but also have `api/v1/folder` you can do this on your model
[code]
and do the following:
[code]

If you do not set a prefix, it will remove it from the endpoint ;)

[2018-11-01 08:43] KaniRobinson commented on #6
There will be better ways of doing this in the future, just waiting for the all mighty free time haha @malinushj

[2018-11-01 08:43] #6 closed

[2018-11-04 02:49] bluetetra commented on #6
Thank you!  That worked for me too.

[2018-11-09 02:45] Akhail opened #7 "Interceptors"
How i can configure a interceptor for example refresh a token?

[2018-11-15 23:09] Akhail commented on #7
@nmihaica and how i can use an adapter like https://github.com/ctimmerm/axios-mock-adapter when need pass the axios instance

[2018-11-18 20:02] mario-minati opened #9 "error handling"
We try to handle errors using the onError function which we set during creation of plugin (with config).
The error method is processed nicely (we just added a "console.log" command).

But nevertheless the Devtools console show an unhandled error:
![image](https://user-images.githubusercontent.com/1096532/48677413-0d33ce00-eb75-11e8-8ca8-001fd314eb2d.png)

What can be done to catch the promise nice

[2018-11-19 12:59] nmihaica commented on #7
I would then stick with plain `axios` and `axios-mock-adapter` packages without `vuex-orm`.

[2018-11-21 07:55] DeroSavage opened #10 "Using Plugin with quasar framework"
Hey,

this could be an issue maybe for quasar but actually it should work. So i included the plugin as in the readme and when trying to do some call i get the following error:
`index.js?5a64:formatted:10623 Uncaught (in promise) TypeError: Cannot read property 'url' of undefined
    at Function.transformParams (index.js?5a64:formatted:10623)
    at Function.call (index.js?5a64:formatted:10682)

[2018-11-29 20:50] geogeorgiev opened #11 "Patch method / missing config implementation of "http.method""
Hi! The `method` option as in `methodConf.http.methods.$update.http.method` does not have any effect. In my case I wish to issue a `patch` request instead of a `put`. As far as I can see, it's not implemented, right? Do you plan to implement this config option?

[2018-11-29 20:58] geogeorgiev commented on #7
It would be nice to have interceptors for adding a trailing slash as in this example https://github.com/axios/axios/issues/757#issuecomment-291016487

[2018-12-05 12:51] kevrousso commented on #7
I agree too. This would be nice, because currently I have other actions on my API that aren't CRUD and I already have the interceptor setup for the calls that pass by vanilla axios.
I wouldn't want to duplicate the logic in my interceptor and also in the custom hooks you defined for axios.

Please allow us to use the interceptor of axios itself!

[2018-12-05 13:03] kevrousso opened #12 "Custom methods in methodConf"
Is there a way to implement our own methods other than the ones provided by default in methodConf of the model?
If so, how can I access it?
I tried to make one, but I don't have access to it by the model.

Thank you

[2018-12-05 13:20] kevrousso commented on #12
This somewhat related to issue #7 as currently the methods in methodConf are managed by the plugin's interceptor.

[2018-12-06 13:47] kevrousso opened #13 "Data function support for insertOrUpdate method"
I noticed that the `insertOrUpdate` method doesn't allow using a data function for nested properties. Without that, I am stuck using an `if-else` statement with update and insert like so:
[code]
Is there any plan to support this in the future?

Thanks

[2018-12-29 19:37] Artessan opened #15 "any plans for typescript support"
the vue-orm core support typescript implementation, have any plan to add support on this plugin???

[2019-01-01 12:44] KRaymundus opened #16 "Slow HMR due to full lodash imports"
My hot module replacement gets about factor 10 slower by including this library. I copied the library files into my own project and figured it get's fast again by including the individual lodash functions instead of the entire library. [Here's](https://www.blazemeter.com/blog/the-correct-way-to-import-lodash-libraries-a-benchmark) an article about it.

So replacing all `import _ from 'lodash';` (e

[2019-01-03 16:17] KRaymundus opened #17 "Cross-domain requests from node go to 127.0.0.1:80"
I get an error `connect ECONNREFUSED 127.0.0.1:80` when I do a cross domain request from my frontend server to my backend server on my Docker machine. They are on the same network. I properly added the baseURL (with proper casing) but didn't work. Spend some time debugging and found out the default config that is set in `/support/interfaces.js` has `proxy: {}` (an empty object).

Now that goes wro

[2019-01-13 22:35] vesper8 opened #18 "how to use with JWT token Bearer Authorization"
When I initialize VuexORMAxios I do not yet have my authorization token since the user isn't logged in yet at that point.

[code]

Then when I try to perform a $fetch operation on one of my orm models, I get "token not provided"

If I pass the token as a get query parameter then it works but I would prefer not to do that and pass it as a header.

Can I add a header to this axios plugin after it's

[2019-01-13 23:41] Akhail commented on #18
#8

[2019-01-14 01:11] vesper8 commented on #18
I was able to get this to work finally by using the PR provided by @Akhail here https://github.com/vuex-orm/plugin-axios/pull/8

I hope this gets merged soon. In the meantime I created a patch in my project using the awesome https://github.com/ds300/patch-package

[2019-01-15 15:00] vesper8 commented on #9
You can catch errors and handle success like you normally would this way:

[code]

[2019-02-19 17:05] twnaing opened #20 "Example app (like vuex-orm-example-nuxt)"
Do you have plan to do example app for `plugin-axios` on top of your example - [Vuex-ORM examples Nuxt](https://github.com/vuex-orm/vuex-orm-examples-nuxt)?

I am a noob at Vuejs and Nuxtjs and couldn't make it work by reading README of both repositories.

[2019-02-21 14:57] aveeday commented on #11
To update model in drf with PUT method all model fields required. It is like full replacement.
But with PATCH method it's possible to update not all fields. So it will be very helpful to have ability make update with PATCH.
https://www.django-rest-framework.org/api-guide/generic-views/#updatemodelmixin

[2019-02-22 10:12] charliegilmanuk opened #21 "Support different API response structures (for pagination)"
Frameworks like Laravel often have built in pagination methods, which in turn change the default return data from the API.  `plugin-axios` current `$fetch `method requires that the model data is in the root of the response array, however Laravel's pagination method returns something like the following, with the data nested in the response:

[code]

It is necessary that this data is paginated serve

[2019-02-24 21:28] Kylo6 commented on #10
Hello,

I just encountered this issue among others, like getters returning empty arrays.

The store in quasar is returned by a function, apparently used by SSR mode. Removing the function as suggested in the comments fixed the issues.

[code]

[2019-02-26 13:00] mrcageman opened #22 "Allow injecting existing Axios instances"
As many people are probably already using Axios in their project, it would be nice to allow us to inject an already existing instance of Axios as opposed to providing a new config all over.

[2019-03-01 13:29] ZeroThe2nd opened #23 "Mutating data from an API call"
In the current version, there does not seem to be (or its undocumented) a way to mutate an API response before it's being saved/loaded etcetera.

Using an external API, which in my case provides far more information than is needed for the application to function, I only need a few values from an API response. However some are nested in sub-objects. While for the application I'm only in need of (fo

[2019-03-03 21:51] pat123456 commented on #20
+1
documentation is very succinct
should help a lot to have a variant of Vuex-ORM/ Nuxt example with plugin-axios added

[2019-03-12 09:50] aveeday commented on #21
How about customize `onResponse` function in options:
[code]
In my case data containing in `{ results: [] }`.
Also here you have access to `response.data.total` and other data in response.

[2019-03-15 22:23] #7 closed

[2019-03-15 22:23] #16 closed

[2019-03-15 22:23] #18 closed

[2019-03-17 13:54] lino commented on #22
This is possible since #19, I'll provide a sample to you in a minute

[2019-03-17 21:49] lino commented on #22
`VuexORM.use(VuexORMAxios, {
    database,
    http: {
        axios: yourAxiosInstance,
    }
})`

[2019-03-22 21:29] innovate-invent opened #26 "Calling methods on model instance doesn't actually make request"
for example

[code]

[2019-03-23 20:40] KaniRobinson commented on #26
Well, if you look at the Core Vuex-ORM Library, you're initialising a creation method and trying to run an update from a non-completed model instance, you would do the second option which is...

[code]

[2019-03-23 20:40] #26 closed

[2019-03-25 17:15] innovate-invent commented on #26
Sorry, that was just from me trying to summarize my code.
How about this:

[code]

[2019-03-26 11:06] aveeday commented on #26
I think it will be more convenient in some cases to call instance methods e.g.:
[code]
Because usually objects saved in `data` or `computed` properties in vue for rendering, that's allow to use simple api:
[code]
For now it can be done with extra methods in model:
[code]
What about to include instance methods to library?

[2019-03-26 11:10] aveeday opened #27 "Serialization"
How can I serialize and deserialize data before saving to server and vuex?

I would like to be able to store on server json data.

For example:
[code]

For now I do:
[code]
But it will be more convenient to make hidden serialization.

Related to #23 because also need some logic related to model before save data from API to vuex.

[2019-03-26 18:18] aveeday opened #28 "Delete object from vuex on 204 status code"
By default Django Rest Framework return 204 status code on success method DELETE. With this status code there are no payload data.
https://tools.ietf.org/html/rfc7231#section-6.3.5

Is it possible to configure library to delete object from vuex on get 204 status code? I think it will be good for default behavior.

[2019-03-26 18:40] aveeday commented on #28
Looks like it works. But I accidentally broke this functionality with custom `onResponse` function to solve pagination issue #21.

[2019-03-26 18:40] #28 closed

[2019-03-27 16:37] innovate-invent opened #29 "Merge http of method"
Currently the http of methodconf is merged with the context http block.
Please also merge the http block of the method to allow for different configuration per method.

For example, the request headers need to be different for a POST vs GET.

Currently the only means of doing this is via `transformRequest` in the methodconf http block. This feels hacky.

It would also be good to merge the http blo

[2019-03-27 16:58] innovate-invent opened #30 "Better uri merge strategy"
The current merge strategy forces a uri prefix on the method. This is a problem when a REST API requires a totally different URI for a specific method or invocation.

It would be better to follow this merge criteria which is evaluated in order:
default (model) -> context -> methodConf -> method -> invocation (`$fetch({http:{uri:"..."}}`)

Criteria (evaluated in order):
- uri matches `^[^:]+://` di

[2019-03-27 17:11] innovate-invent opened #31 "Unify config structure"
It would be good to unify the structure of the configurations across this plugin. For example currently the method invocation has a different structure and options than the methodConf block and individual method block. This makes documentation easier and allows overriding options at the different config levels.

A lodash merge of each of these configuration objects before evaluating the request wo

[2019-03-27 17:19] innovate-invent opened #32 "Better params handling"
Axios should handle appending params to the uri rather than [Action.js#L61](https://github.com/vuex-orm/plugin-axios/blob/2ed5dcd21a5178d68acecad7bdf087dc4f829a72/src/actions/Action.js#L61)
This should probably make use of Axios `paramsSerializer`.

The `query` option at method invocation should be discarded for `params` and any `:param` present in the uri should just flag the param for removal wh

[2019-03-27 18:24] innovate-invent commented on #11
This appears to have been resolved by https://github.com/vuex-orm/plugin-axios/commit/b3ce9b45f534c191140a2770334b74b7de4eaf4e

[2019-03-29 11:40] lino commented on #15
I'm gradually learning typescript, why don't we do it together? The maintainer seems to be busy with private family stuff, so it would be fair not to have any expectations.

[2019-03-29 21:45] innovate-invent opened #34 "Improper use of asyncronous method"
The promise created [here](https://github.com/vuex-orm/plugin-axios/blob/2ed5dcd21a5178d68acecad7bdf087dc4f829a72/src/actions/Create.js#L47) should be returned and awaited on after awaiting [here](https://github.com/vuex-orm/plugin-axios/blob/2ed5dcd21a5178d68acecad7bdf087dc4f829a72/src/actions/Create.js#L24) rather than calling `.then`.

The current behavior causes a race condition when awaiting

[2019-03-29 21:54] innovate-invent opened #35 "All actions should return the model"
Currently the actions return the axios response. This is largely useless and causes the following pattern everywhere:

[code]

rather than

[code]

[2019-03-29 22:03] russsiq commented on #21
I define different status codes in the Laravel controller. This allows more correct processing of query results.

[code]

[code]

[code]
[code]

[2019-03-30 03:46] russsiq opened #36 "syntax error [Axios instance]"
https://github.com/vuex-orm/plugin-axios/blob/2ed5dcd21a5178d68acecad7bdf087dc4f829a72/src/orm/axios.js#L18

[2019-03-31 14:37] mrcageman commented on #22
Missed this one, thanks for adding!

[2019-03-31 14:37] #22 closed

[2019-04-02 16:58] stygmate commented on #12
Hi ! i need to a had a $getperreference method to my model but when i call Bien.$getperreference(...params...)
I get this error:
[code]

my methodConf:
[code]

[2019-04-03 01:43] ldiebold opened #38 "Passing and array to "with""
Since vuex-orm is somewhat Laravel inspired, it would be great to be able to pass an array to "with"
[code]
Here's the [related documentation for Laravel](https://laravel.com/docs/5.8/eloquent-relationships#eager-loading)

Cheers!

[2019-04-04 22:49] lisandromc opened #39 "Repeated response handlers when working with provided Axios instance"
Providing an axios instance like this:
[code]
results in a response handler being added to the handlers list on each call, which in turns breaks proper response handling since each handler in the chain will return (and pass on) the `response.data` property.

This is usually not a problem because the Axios constructor does
[code]
so that a fresh axios instance is assigned each time. But it breaks a

[2019-04-04 23:37] russsiq opened #41 "Attach an image with FormData when using the $create model method [Axios instance]"
Example: we have a simple Vue component code to load an image

[code]

But it won't work because in the file `@vuex-orm\plugin-axios\src\support\interfaces.js` has a field with an empty Data object, which is passed by default
https://github.com/vuex-orm/plugin-axios/blob/2ed5dcd21a5178d68acecad7bdf087dc4f829a72/src/support/interfaces.js#L41

[2019-04-15 09:39] kiaking commented on #15
@Artessan Actually it is already pretty much supported! Just need more documentation I guess.

But I would really love to hear which part it is missing? (Declaration files are already there so you should get typings and such).

[2019-04-16 16:03] Uysim opened #42 "Need to set headers before on request"
Currently there is no way to inject custom headers

[2019-04-19 14:15] akadlec opened #44 "Events methods for models"
Is there a posibility to define custom event methods for each model?
eg.
For getting or fetching data:
[code]

or for updating or creating:
[code]

I am using JSON:API 1.1 with relations etc and it would be nice to have this feature

[2019-04-25 10:10] anthonygore commented on #12
This won't work, only the predefined methods will work.

[2019-04-26 23:27] mhluska opened #46 "Usage with axios-extensions cacheAdapterEnhancer"
I'm wondering if it's possible to use this with [cacheAdapterEnhancer](https://github.com/kuitos/axios-extensions#cacheadapterenhancer). Namely, I would like to be able to conditionally disable caching when doing a request like `Model.$get({ cache: false, params: { id } })`. The `cache: false` option has no effect in this case.

I guess another way to ask this question is: is there a way to pass a

[2019-04-27 21:18] pat123456 commented on #41
Hi, same problem, can't figure out how to upload file with vuex orm axios plugin ?

[2019-04-28 17:43] russsiq commented on #41
Try this.

[code]
[code]

[2019-04-28 19:56] pat123456 commented on #41
Привет, спасибо за ответ.

With your solution it works better, the file is sent.

The problem now is that after the server response the new entry is not anymore automatically created in vuex orm. Same if I delete an entry, the entry is deleted in mysql database but not in vuex orm.
Got this problem even if I don't comment // data: {}, just simply if I load axios-request-config.js in Vuex.use(...)

[2019-04-28 20:17] russsiq commented on #41
Perhaps this will help you

1. https://gist.github.com/russsiq/cffd0735fd5736dd084c532395489b0e
1. https://github.com/vuex-orm/plugin-axios/issues/21#issuecomment-478163337

[2019-04-28 20:35] pat123456 commented on #41
thank again, but hard for me to understand what to do with your links

[2019-04-28 20:52] russsiq commented on #41
Place your file `axios-request-config.js` in gist. I can help you.

[2019-04-29 07:20] pat123456 commented on #41
Hi,
I simply took the AxiosRequestConfig on plugin-axios [https://github.com/vuex-orm/plugin-axios](https://github.com/vuex-orm/plugin-axios) and comment the //data = {}

couldn't we just remove the data={} and keep the rest of the cofing as default ?

I don't understand why the data={} is problematic since we change it when doing :
`let formData = new FormData()
formData.append('file', this.file)

[2019-04-29 15:26] pat123456 commented on #41
my axios-request-config.js
[https://gist.github.com/pat123456/2ee5ff79602e1aab6a17ee7f2684e686](https://gist.github.com/pat123456/2ee5ff79602e1aab6a17ee7f2684e686)

[2019-04-30 06:49] pat123456 commented on #41
when set data to string without loading axios-request-confing it's work well

`VuexORM.use(VuexORMAxios, {
  database,
  http: {
    baseURL: 'http://localhost/.../api/',
    url: '/',
    headers: {
      'Content-Type': 'application/json',
      'Accept': 'application/json',
    },
    data: ""
  }
})`

[2019-05-09 08:32] SargoDarya opened #49 "Is this still maintained?"
Hey folks, there was no update for 1 1/2 months and there are 8 open pull requests. Are you guys looking for maintainers by any chance?

[2019-05-13 09:19] kiaking commented on #49
@SargoDarya Actually yeah I think so. I was too lazy to handle this but I'll make some time and do something with it...! But yeah if there's anyone who can help, that would be great.

[2019-05-17 09:08] wardy484 opened #50 "Nested Resources Support"
Does this plugin support nested resources? If so are the any examples of this?

For example if I had a url like: `/lists/:list_id/items/:item_id`

[2019-05-17 10:45] nmihaica opened #51 "_no_key_"
I am having issue with following code
[code]

This plugin automatically should `insertOrUpdate` after `$create` as I've seen in the [source](https://github.com/vuex-orm/plugin-axios/blob/master/src/actions/Create.js#L47) code.

![nokey](https://user-images.githubusercontent.com/12017390/57925154-7d62a880-78a7-11e9-961a-60765b6e6f08.png)

However, here is a breakdown. For some example commitInsert

[2019-05-17 13:03] SebastianSmolorz commented on #50
If the endpoint returns a nested object, Vuex-ORM will create all nested related objects so long as you have the relationship set correctly.

The `:param`  strings are replaced with the corresponding parameter passed into the API action e.g. `List.$update({query: {'list_id': 1, 'item_id': 1} })`.  So you could have a List model and an Item model, the Item model containing your url config, then you

[2019-05-18 09:38] nmihaica commented on #51
Okay, here is what went bad.

`@vuex-orm/plugin-axios` will run [insertOrUpdate](https://github.com/vuex-orm/plugin-axios/blob/master/src/actions/Create.js#L47) mutation. However, as the name says it is actually useful for multiple insertsOrUpdates at once. So, after I would fetch from API store was not updated successfully.

There are many obvious solutions you can do to administer to your will,

[2019-05-18 09:38] #51 closed

[2019-05-18 22:27] lk77 commented on #12
Hello,

you can have custom methods, just add a method to your class, and make your own logic, if it's something not standard, the package will not be able to handle it, so it's better to make your own axios call.

[2019-05-23 08:12] wardy484 commented on #50
Great thanks I'll try that.

[2019-05-23 08:12] #50 closed

[2019-05-27 06:22] Youdaman opened #53 "Classic mode for store/ is deprecated and will be removed in Nuxt 3."
If anyone else is getting the following warning in console:

[code]
Edit store/index.js and change:
[code]
to:
[code]
See also https://github.com/nuxt/nuxt.js/issues/4912

[2019-05-31 06:12] stevage opened #54 "What is "database""
In the readme, there is a reference to `database`:

`import database from './database'`

Presumably the user has to create this module. But what is it meant to contain? There's a real gap in the documentation here.

[2019-05-31 13:07] SebastianSmolorz commented on #54
https://vuex-orm.github.io/vuex-orm/guide/components/database-and-registration.html

[2019-06-07 13:37] kevinmarrec commented on #53
@Youdaman There is a way to not having to define store/index.js at all, you can look here : https://github.com/vuex-orm/plugin-graphql/blob/master/docs/guide/nuxt.md

[2019-06-07 15:55] Youdaman commented on #53
@kevinmarrec yeah I think I've seen that approach with other Vuex plugins/addons. Thanks!

[2019-07-02 18:55] kris-ellery opened #55 "Broken IE11 and extra dependencies in Webpack output"
Hi there, I've recently started using Vuex ORM with Axios Plugin and noticed that the `dist/index.js` contains arrow function `.some(t=>t in i)`, which ultimately breaks IE11. Also, after running my bundle thru `webpack-bundle-analyzer` I noticed a bunch of extra dependencies like `pako`, `browserify-zlib`, and `node-libs-browser`. I assume none of that should be in there. Not sure if its a broken

[2019-07-08 13:27] #34 closed

[2019-07-08 23:39] russsiq commented on #36
https://github.com/vuex-orm/plugin-axios/releases/tag/v0.5.1

[2019-07-08 23:39] #36 closed

[2019-07-11 14:10] UseMuse opened #56 "sharing with the plugin vuex-orm-localforage"
I want to use plugin-axios plugin with vuex-orm-localforage plugin

Plugin-axios plugin has methods of the same name with plugin vuex-orm-localforage

eg:
### 1. plugin-axios:

Model Methods
[code]
### 2. vuex-orm-localforage
[code]

For plugin plugin-axios сhanging method name in methodConf does not work

[2019-07-23 12:38] kiaking commented on #56
@UseMuse Uhh... yeah this is a problem. Currently, we are trying to change the method name for the plugins. Please give us time. We need to have some serious discussion.

[2019-07-25 01:07] petertoth opened #58 "Plugin axios breaks Single Table Inheritance custom model fields"
Hi,
I was playing around with Single Table Inheritance and found an issue with plugin-axios breaking custom fields on descendant models in STI.

My setup with STI:
[code]

When I insert a new **Post** with custom type the model instance is missing the fields defined in descendants of **Post**:

[code]

As you can see the **customDraftAttr** is not present on the model instances. When I disable plu

[2019-07-25 08:15] tvillaren commented on #58
Hello @petertoth, thanks for the report & digging into the code

I actually changed the way fields are cached when implementing STI (the cache is now a dictionary, see https://github.com/vuex-orm/vuex-orm/blob/master/src/model/Model.ts#L85) so the code in the plugin needs some update to reflect this change. @phortx do you want to have a look?

[2019-07-25 08:22] phortx commented on #58
I don't maintain this plugin, it's from @KaniRobinson :)

[2019-07-25 08:30] tvillaren commented on #58
Sorry, I read too fast, thought we were on the graphql plugin :)

[2019-07-25 13:29] petertoth commented on #58
Hey @tvillaren, thanks a lot for clarification. The plugin just needs to update with the cached fields change. Any chance @KaniRobinson, @kiaking could look into this?

[2019-07-28 18:39] mhluska commented on #55
I'm noticing this issue as well. The size of this package in the bundle is massive.

[2019-07-30 10:28] kiaking commented on #58
@petertoth Thank you so much for the report! Yeah... I guess Axios Plugin is currently not compatible with STI. We're planning to make this plugin in more good shape! Sorry for the inconvenience but please wait a bit more...

[2019-08-01 16:29] malinushj commented on #21
@russsiq Awesome idea with the status codes.
Would you mind providing the store module for the pagination?
[code]

[2019-08-13 11:01] mmintel commented on #17
some news on this?

[2019-08-15 09:03] mmintel opened #60 "Add query param to $fetch"
Hi there,

I need to add a parameter when calling Model.$fetch(). I tried like this:

[code]

but seems like it doesn't pass it to axios. When I use axios to do it manually it works:

[code]

Any idea?

[2019-08-15 17:31] simonini commented on #42
I have same problem for csrf reason.

[2019-08-17 04:55] russsiq commented on #21
@malinushj, you can look here https://gist.github.com/russsiq/a6279e15bb0edee63d1da0e71839cba3

[2019-08-17 05:06] russsiq commented on #41
https://github.com/vuex-orm/plugin-axios/issues/39

[2019-08-17 05:13] russsiq commented on #21
And edit this
[code]

[2019-08-17 12:01] malinushj commented on #21
@russsiq Awesome! thank you!

[2019-08-22 15:12] mrFANRA commented on #17
Proxy does not work =(

[2019-08-22 15:44] mrFANRA commented on #60
Try this:
[code]

[2019-08-26 15:04] Tarasovych commented on #60
@mrFANRA thanks!

[2019-08-26 17:41] Tarasovych opened #61 "How can I attach data to $delete request?"
Hello!
I'm trying to attach data to `delete` request:
[code]
But in the developers console there is no request body. Am I missing something?
My model:
[code]
Config:
[code]

[2019-08-29 09:48] mmintel commented on #60
Ah a $get without id is actually same as $fetch, thanks :)

[2019-08-29 09:48] #60 closed

[2019-08-30 14:52] Yorgovan opened #62 "Access data in store"
I am new to vuex-orm and axios plugin and I am trying to get data from api and then access it in vuex store.
Data is successfully fetched from api with this:

[code]
And then I am trying to access that data from vuex store with:

[code]

But `this.users` doesnt contain fetched data. Just this:
[code]

In vue dev tools I can see that it is not pushed in state.
![gnome-shell-screenshot-T6D46Z](https

[2019-09-05 20:10] #61 closed

[2019-09-06 07:49] Tarasovych commented on #42
Same here

[2019-09-07 13:55] UseMuse commented on #56
@kiaking решение тут [https://github.com/eldomagan/vuex-orm-localforage/issues/6](url)

[2019-09-07 13:55] #56 closed

[2019-09-07 16:26] guillaumebriday opened #63 "$delete call the action but does not remove from the store"
Hey!

Since the version `0.32.2` of @vuex-orm/core, the $delete method has some bugs.

I tried to downgrade to `0.32.1` and everything work fine.

The api call is done but the entry is not removed from the store.

There is [lot of changes](https://github.com/vuex-orm/vuex-orm/compare/v0.32.1...v0.32.2) between these two versions and I don't know if it broke something.

Thank you in advance

[2019-09-10 07:11] khalidchawtany commented on #63
Delete action uses which currently does not work in vuex-orm :(
[code]

[2019-09-10 07:12] guillaumebriday commented on #63
You mean that I need to call both `$delete` and `delete` methods as workaround ?

[2019-09-10 13:09] khalidchawtany commented on #63
Yup

[2019-09-10 13:10] guillaumebriday commented on #63
Ok! do you think it could be fix in this project?

[2019-09-10 15:59] pedro-valentim commented on #62
I've recently installed this package on my project and I'm a similar issue. So, the first thing I noticed was the sequence of events from vuex, after the onRequest mutation list (ctrl + 2 @ Vue Devtools) there was an onError mutation with null as payload.

Is this also happening to you? Because I've may have solved It by fixing my entity's class. It had set the wrong pkey so it wont be able to sho

[2019-09-11 06:11] khalidchawtany commented on #63
We can change https://github.com/vuex-orm/plugin-axios/blob/456fa5afee0e991fdb48d480caf03ad756a2d516/src/actions/Delete.js#L50-L54
to
[code]

[2019-09-11 13:10] guillaumebriday commented on #63
I opened a PR @khalidchawtany

[2019-09-13 09:17] Yorgovan commented on #62
@pedro-valentim thanks but I don't have onError mutation
This is what I get
![gnome-shell-screenshot-CNL07Z](https://user-images.githubusercontent.com/33957795/64851593-01d7f480-d618-11e9-8d69-32d507a11304.png)

[2019-09-13 15:42] vanderb opened #67 "Fetch data with async await in nuxt.js"
Hi,

tried to load data with async fetch await with nuxt in ssr-mode. Every time I get 404.
Think the http-config is not loaded at this time so api-resource could not be found.

[code]

Is there any way to load the resource asynchronously?

Thanks.

[2019-09-13 16:32] innovate-invent opened #68 "methodConf.http.params ignored"
There is a bug in version 0.19 of axios that does not merge the params config.
https://github.com/axios/axios/issues/2190

It is recommended to downgrade to 0.18.1 until the issue is resolved.

[2019-09-16 15:02] Yorgovan commented on #62
I found where the issue is (maybe this is what @pedro-valentim thought but I dodn't get it). My json response is like this:
[code]
And axios plugin expects json without main key "users" so I did this in axios config
[code]

[2019-09-16 15:04] #62 closed

[2019-09-17 14:23] #67 closed

[2019-09-26 10:36] russsiq commented on #41
I settled on this [version](https://gist.github.com/russsiq/cffd0735fd5736dd084c532395489b0e) with regard to this https://github.com/vuex-orm/plugin-axios/issues/39 and this https://github.com/vuex-orm/plugin-axios/issues/21 and this https://github.com/vuex-orm/plugin-axios/issues/42. Sorry for the comments in different languages.

[2019-09-26 10:36] #41 closed

[2019-09-30 12:37] guillaumebriday opened #69 "Get parameter array with key value"
Hey!

I got the same problem explained in this issue https://github.com/axios/axios/issues/1093.

I'm not sure that is possible to do this in this plugin. As far as I unsterstand, this method is responsible to handle the query params https://github.com/vuex-orm/plugin-axios/blob/70cc314bef15cae65bad9b973f5a255c93b11415/src/actions/Action.js#L61 and does not allow to deal with array as params right

[2019-09-30 12:47] guillaumebriday commented on #69
Maybe with something like that:

[code]

[2019-10-16 03:24] olivergiess commented on #39
How is this tracking? This is several months old now, though I am still experiencing this issue, I can see the pull request has conflicts, what do we need to do to progress this?

[2019-10-16 04:08] olivergiess commented on #49
I'd be keen to contribute, how do I get involved?

[2019-10-17 02:04] kiaking commented on #39
So sorry for your inconvinience! We've started a brand new implementation of this plugin at `next` branch. Please wait just a bit more!

[2019-10-17 02:05] kiaking commented on #49
So sorry for your inconvinience! We've started a brand new implementation of this plugin at `next` branch. Please wait just a bit more! It would be great if you can give us the feedback for the `next` branch implementation though! Please join Vuex ORM slack channel and hit me!

[2019-10-17 21:53] olivergiess commented on #39
@kiaking thanks I ended up forking and fixing the bug myself and refactoring the Actions for maintainability, as well as implementing the below.

I actually think that onResponse isn't the correct way to handle unwrapping the result of an API call, unless we deep clone the passed in Axios instance adding new handlers to it may affect other modules (this actually occurred to me).

Seeing as the who

[2019-10-20 14:33] mean-cj opened #71 "override axios instance doesn't work"
Hello

i cannot override axios instance
i found bug , the promise not return with ajax original response.

[code]

[code]

Thank you

[2019-10-21 01:22] kiaking commented on #9
The brand new Axios plugin is here! It's very different from what it was, so please check out [the docs](https://vuex-orm.github.io/plugin-axios/)!

For this issue, yes you can catch error directly from axios instance.

[2019-10-21 01:22] #9 closed

[2019-10-21 01:23] kiaking commented on #10
The brand new Axios plugin is here! It's very different from what it was, so please check out [the docs](https://vuex-orm.github.io/plugin-axios/)!

I'll be closing this issue since it's quite old, and there's a new version of the plugin. Please feel free to open another issue if there's anything!

[2019-10-21 01:23] #10 closed

[2019-10-21 01:24] kiaking commented on #11
The brand new Axios plugin is here! It's very different from what it was, so please check out [the docs](https://vuex-orm.github.io/plugin-axios/)!

I'll be closing this issue since the library is quite different now. Please feel free to open another issue if there's anything!

[2019-10-21 01:24] #11 closed

[2019-10-21 01:24] kiaking commented on #12
The brand new Axios plugin is here! It's very different from what it was, so please check out [the docs](https://vuex-orm.github.io/plugin-axios/)!

I'll be closing this issue since the library is quite different now. Please feel free to open another issue if there's anything!

[2019-10-21 01:24] #12 closed

[2019-10-21 01:25] kiaking commented on #13
The brand new Axios plugin is here! It's very different from what it was, so please check out [the docs](https://vuex-orm.github.io/plugin-axios/)!

The new version is using insertOrUpdate to insert data now 👍

[2019-10-21 01:25] #13 closed

[2019-10-21 01:25] kiaking commented on #15
The brand new Axios plugin is here! It's very different from what it was, so please check out [the docs](https://vuex-orm.github.io/plugin-axios/)!

It's fully written in TS now! 👍

[2019-10-21 01:25] #15 closed

[2019-10-21 01:25] kiaking commented on #17
The brand new Axios plugin is here! It's very different from what it was, so please check out [the docs](https://vuex-orm.github.io/plugin-axios/)!

I'll be closing this issue since the library is quite different now. Please feel free to open another issue if there's anything!

[2019-10-21 01:25] #17 closed

[2019-10-21 01:26] kiaking commented on #20
The brand new Axios plugin is here! It's very different from what it was, so please check out [the docs](https://vuex-orm.github.io/plugin-axios/)!

And now it has a section on how to install it with Nuxt!

[2019-10-21 01:26] #20 closed

[2019-10-21 01:26] kiaking commented on #21
The brand new Axios plugin is here! It's very different from what it was, so please check out [the docs](https://vuex-orm.github.io/plugin-axios/)!

With the new version, there's config `dataKey` that you can specify what key the library should look for 👍

[2019-10-21 01:26] #21 closed

[2019-10-21 01:34] kiaking commented on #23
The brand new Axios plugin is here! It's very different from what it was, so please check out [the docs](https://vuex-orm.github.io/plugin-axios/)!

You can cherry pick the field by creating only those field at Model schema definition 👍

[2019-10-21 01:34] #23 closed

[2019-10-21 01:35] kiaking commented on #27
The brand new Axios plugin is here! It's very different from what it was, so please check out [the docs](https://vuex-orm.github.io/plugin-axios/)!

I'll be closing this issue since the library is quite different now. Please feel free to open another issue if there's anything!

[2019-10-21 01:35] #27 closed

[2019-10-21 01:35] kiaking commented on #29
The brand new Axios plugin is here! It's very different from what it was, so please check out [the docs](https://vuex-orm.github.io/plugin-axios/)!

I'll be closing this issue since the library is quite different now. Please feel free to open another issue if there's anything!

[2019-10-21 01:35] #29 closed

[2019-10-21 01:35] kiaking commented on #30
The brand new Axios plugin is here! It's very different from what it was, so please check out [the docs](https://vuex-orm.github.io/plugin-axios/)!

I'll be closing this issue since the library is quite different now. Please feel free to open another issue if there's anything!

[2019-10-21 01:35] #30 closed

[2019-10-21 01:35] kiaking commented on #31
The brand new Axios plugin is here! It's very different from what it was, so please check out [the docs](https://vuex-orm.github.io/plugin-axios/)!

I'll be closing this issue since the library is quite different now. Please feel free to open another issue if there's anything!

[2019-10-21 01:35] #31 closed

[2019-10-21 01:35] kiaking commented on #32
The brand new Axios plugin is here! It's very different from what it was, so please check out [the docs](https://vuex-orm.github.io/plugin-axios/)!

I'll be closing this issue since the library is quite different now. Please feel free to open another issue if there's anything!

[2019-10-21 01:35] #32 closed

[2019-10-21 01:36] kiaking commented on #35
The brand new Axios plugin is here! It's very different from what it was, so please check out [the docs](https://vuex-orm.github.io/plugin-axios/)!

I'll be closing this issue since the library is quite different now. Please feel free to open another issue if there's anything!

[2019-10-21 01:36] #35 closed

[2019-10-21 01:36] kiaking commented on #38
The brand new Axios plugin is here! It's very different from what it was, so please check out [the docs](https://vuex-orm.github.io/plugin-axios/)!

BTW, you can do this in current version of Vuex ORM 👍

[2019-10-21 01:36] #38 closed

[2019-10-21 01:37] kiaking commented on #39
The brand new Axios plugin is here! It's very different from what it was, so please check out [the docs](https://vuex-orm.github.io/plugin-axios/)!

I'll be closing this issue since the library is quite different now. Please feel free to open another issue if there's anything!

[2019-10-21 01:37] #39 closed

[2019-10-21 01:38] kiaking commented on #42
The brand new Axios plugin is here! It's very different from what it was, so please check out [the docs](https://vuex-orm.github.io/plugin-axios/)!

Now you can just directly pass preconfigured axios instance, so you could just set headers there. Or, it will take any axios config at request time, so you could pas it there too 👍

[2019-10-21 01:38] #42 closed

[2019-10-21 01:39] kiaking commented on #44
The brand new Axios plugin is here! It's very different from what it was, so please check out [the docs](https://vuex-orm.github.io/plugin-axios/)!

I'll be closing this issue since the library is quite different now. Please feel free to open another issue if there's anything!

[2019-10-21 01:39] #44 closed

[2019-10-21 01:40] kiaking commented on #46
The brand new Axios plugin is here! It's very different from what it was, so please check out [the docs](https://vuex-orm.github.io/plugin-axios/)!

Yes! Now you can pass **all** axios config to the api methods!

[2019-10-21 01:40] #46 closed

[2019-10-21 01:40] kiaking commented on #49
Finally, YES IT IS!

The brand new Axios plugin is here! It's very different from what it was, so please check out [the docs](https://vuex-orm.github.io/plugin-axios/)!

I'll be closing this issue since the library is quite different now. Please feel free to open another issue if there's anything!

[2019-10-21 01:40] #49 closed

[2019-10-21 01:51] kiaking commented on #53
The brand new Axios plugin is here! It's very different from what it was, so please check out [the docs](https://vuex-orm.github.io/plugin-axios/)!

Now there's a section for installing the plugin with Nuxt.js!

[2019-10-21 01:51] #53 closed

[2019-10-21 02:07] kiaking commented on #54
The brand new Axios plugin is here! It's very different from what it was, so please check out [the docs](https://vuex-orm.github.io/plugin-axios/)!

And there's no need to care about Database anymore : )

[2019-10-21 02:07] #54 closed

[2019-10-21 02:07] kiaking commented on #55
The brand new Axios plugin is here! It's very different from what it was, so please check out [the docs](https://vuex-orm.github.io/plugin-axios/)!

Now the bundle is super small! 1.54kb gzipped 👍

[2019-10-21 02:07] #55 closed

[2019-10-21 02:08] kiaking commented on #58
OK the new version is here! The brand new Axios plugin is here! It's very different from what it was, so please check out [the docs](https://vuex-orm.github.io/plugin-axios/)!

Could you try with the new version to see if this still happens? I think it's fixed now.

[2019-10-21 02:09] kiaking commented on #63
The brand new Axios plugin is here! It's very different from what it was, so please check out [the docs](https://vuex-orm.github.io/plugin-axios/)!

I'll be closing this issue since the library is quite different now. Please feel free to open another issue if there's anything!

[2019-10-21 02:09] #63 closed

[2019-10-21 02:09] kiaking commented on #68
The brand new Axios plugin is here! It's very different from what it was, so please check out [the docs](https://vuex-orm.github.io/plugin-axios/)!

And now this should work fine since Vuex ORM Axios is passing whole config directly down to the Axios instance.

[2019-10-21 02:09] #68 closed

[2019-10-21 02:10] kiaking commented on #69
The brand new Axios plugin is here! It's very different from what it was, so please check out [the docs](https://vuex-orm.github.io/plugin-axios/)!

I'll be closing this issue since the library is quite different now. Please feel free to open another issue if there's anything!

[2019-10-21 02:10] #69 closed

[2019-10-21 02:10] kiaking commented on #71
The brand new Axios plugin is here! It's very different from what it was, so please check out [the docs](https://vuex-orm.github.io/plugin-axios/)!

Now you can pass your own axios instance directly!

[2019-10-21 02:10] #71 closed

[2019-10-21 04:30] ldiebold commented on #38
Oh, I posted this in the axios repo...
Where was my head at!

[2019-10-21 04:32] kiaking commented on #38
haha lol

[2019-10-21 21:23] guillaumebriday opened #74 "Migration examples from version < 0.7"
Hey!

This new release looks nice !

But I'm confused on how to upgrade my code base from old versions to the new one with the best practices.

For instance, how I'm supposed to migrate this simple code:

[code]

I'm supposed to set the url for every axios call of this model ? I'm not sure

Thanks

[2019-10-22 06:55] chindit commented on #74
You can use a custom action in order to keep your URL automatically added.

In your case, you should use

[code]

While your Entity should contain

[code]

[2019-10-22 20:46] guillaumebriday commented on #74
Ok thank you

To be sure, it means that what it used to be the convention over configuration now need to be written by hand for every models, right?

In the latest version, with barely no code, I could write `User.$fetch()` and the package used the `static entity = 'users'` to find the correct url with preconfigured methods.

Like here: https://github.com/vuex-orm/plugin-axios/tree/v0.5.1#model-co

[2019-10-22 20:51] ZeroThe2nd commented on #23
While the new plugin version certainly cleans up some things, also making it less conflicting with other ORM plugins, it still does not provide a (documented) way to mutate a response before this is stored.

As for the updated way of handling the URL in the new `Model.api().[get|post|put|patch|delete]()` function, I think it's extra redundant code that is error sensitive if this is done for every

[2019-10-23 00:36] kiaking commented on #74
Yes, that's correct.

The problem with the latter approach, where the plugin uses the `static entity` value as a URL, was that there are many cases the URL is not like that.

Predefined methods, such as `$fetch` and `$create` was good as long as the model stick to its convention, but when you need to customize them, it caused wired inconsistency on API.

For example, the new Axios plugin lets you

[2019-10-23 12:23] tabiodun opened #76 "Errors and Loading states don't seem to be available in new version"
Are the loading and error states like:
[code]

Still available in the new version

[2019-10-24 03:16] kiaking commented on #76
@tabiodun Oh no, not at the moment. Errors should be caught by usual Axios response, but loading state should be nice to have I think!

[2019-10-24 11:40] KaniRobinson commented on #76
@kiaking I'll pick up this one

[2019-10-24 15:11] malinushj commented on #21
@kiaking bless

[2019-10-26 03:09] tabiodun commented on #76
@kiaking Thanks

[2019-10-26 03:16] olivergiess opened #77 "Support various API Response Structures by allowing a callback to format Data"
Currently the plugin only supports a rigid API structure which does not include some of the popular standards like JSON:API given the example below for relationships.

Following JSON:API standard relationships will not be populated into models due to the response structure of the standard (see below).

[code]

With the current implementation the response from the API is expected to be built for Vu

[2019-10-28 09:12] crazymind opened #78 "Response Entity with relationships (withAll())"
Let's take this model as example:

[code]

Currently  we receive the entities all separated. But it would be nice if the requested model would also had the objects included (like if you would execute query().withAll())

[code]

[2019-10-28 10:57] crazymind opened #79 "Documentation: Note on Delete Method"
Perhaps I will  be the only one who ran into it, but I think it would make the documentation clearer if the ID would not be 1. I thought `delete: 1` would stand for `delete: true` instead of the ID itself.

[code]

[2019-10-28 23:32] guillaumebriday commented on #77
Hey!

Just to be sure, before 1.7 we could do something like that:
[code]

I built json-api-response-converter to convert Json:API formatted responses to be handle by Vuex-orm axios.

How should I do now ? I see nothing close to this option except this issue. Do you need that we open a PR ?

Thank you in advance 🙏

[2019-10-29 00:00] guillaumebriday commented on #77
I opened a PR, your feedbacks are welcome @olivergiess @kiaking 👍

[2019-10-29 00:05] guillaumebriday commented on #77
With the PR, we should be able to do something like that:

[code]

I hope you will take a look a this repo: [json-api-response-converter](https://github.com/guillaumebriday/json-api-response-converter), it is designed for Vuex-orm 👍

[2019-10-29 04:16] kiaking commented on #78
Yeah, I know. This will be solved if Vuex ORM manages to implement a "lazy load" feature, which is currently an active issue at Vuex ORM Core.

I'll keep the issue open as an enhancement, so we can keep tracking!

[2019-10-29 04:17] kiaking commented on #79
Ah, interesting! Yeah, I think it would make sense to use some random number on that argument. Thanks for the feedback!

[2019-10-29 04:28] kiaking commented on #77
@guillaumebriday Thank you so much! I've made some comment on the PR.

I didn't know about this package! It's awesome 👍 👍 👍

[2019-10-29 04:37] kiaking commented on #58
I hope this is fixed. So, I'll closing this one. Please feel free to open an another issue if there's anything!

[2019-10-29 04:37] #58 closed

[2019-10-29 07:39] olivergiess commented on #77
@guillaumebriday

Thanks guilla beat me to it!

Nice package I think I'll use it.

[2019-10-29 10:05] guillaumebriday commented on #77
Thank you guys! 😊

[2019-10-30 08:43] kiaking commented on #79
I've updated the value to `42`! 👍

[2019-10-30 08:43] #79 closed

[2019-10-31 11:05] kiaking commented on #77
This is now possible with Vuex ORM Axios 0.8.0! 🎉 Thanks to @guillaumebriday for the wonderful PR!
https://github.com/vuex-orm/plugin-axios/releases/tag/v0.8.0

[2019-10-31 11:05] #77 closed

[2019-11-02 13:27] mean-cj opened #82 "error ajax response is empty // TypeError: Cannot convert undefined or null to object"
Hello

found error if ajax response is empty or null or cannot connect to api server
"TypeError: Cannot convert undefined or null to object"

[code]

Fixed
[code]

[2019-11-03 05:02] mean-cj opened #83 "Nuxt hot reload error The axios instance is not registered."
Hello

i follow installation method from
https://vuex-orm.github.io/plugin-axios/guide/setup.html#nuxt-js-integration

after save file on ./models folder
nuxt hot reload show error message on console

vuex-orm-axios.esm.js?e72b:97

Uncaught (in promise) Error: [Vuex ORM Axios] The axios instance is not registered. Please register the axios instance to the model.

    at Request.get [as axios] (vue

[2019-11-03 05:48] mean-cj commented on #83
that fixed

// plugins\vuex-orm-axios.js
[code]

// models\index.js
[code]

// nuxt.config.js
{
  plugins: [
    '@plugins/vuex-orm-axios',
  ],
  modules: [
    '@nuxtjs/axios'
  ],
}

[2019-11-05 01:12] kiaking commented on #82
Ah interesting. Not sure how to deal with this problem correctly. For network connection error, it should be handled as an error by axios. As part of Vuex ORM, it's not OK to pass null or undefined, but also `number`, `string`, or `boolean` too. The data has to be either Object or and Array.

Maybe we should warn user or even throw error in case of data being other than Object or Array?

[2019-11-05 01:16] kiaking commented on #83
Hah, never experienced this issue. Is it possible that you have another plugin that tries to use Axios feature with Vuex ORM...?

[2019-11-05 13:42] phaust commented on #82
I have similar problem when using `api().delete()`. When triggering the call, I get console error: `TypeError: can't convert null to object`.

I currently use this workaround: `api().delete('some/url', { delete: null })` which doesn't throw an error.

[2019-11-05 20:39] mean-cj commented on #83
Hello
I have axios plugin for handle ajax response.
I think it should be problem.
Thank you

[2019-11-05 20:39] #83 closed

[2019-11-05 20:51] mean-cj commented on #82
Is it possible to check first before call insertOrUpdate

[code]

[2019-11-06 14:59] JelleScheer opened #85 "Model saving after inserting creates a double instance"
Hi!

In my use case I want to create an empty version of a model (let's call it Post) and after filling it I want to save it to the database and sync it with the empty version.

The example flow would be:
`Post.insert({ data: { title: 'Basic title' } }).then((new_post) => {
     Post.api().post('', new_post.posts[0]);
  });`

The insert function creates a new empty instance of the model, and if I

[2019-11-07 08:53] kiaking commented on #82
Yeah, that could be a solution. Let's add a feature to warn the user when the response body is not valid data.

[2019-11-07 09:24] kiaking commented on #85
Ahh, this is a good one. Yeah, it would be great to have this feature. So I would like to start a discussion.

I think the ideal way to deal with this issue is to have some special option. But not sure how it should look like.

The hard part is how can we determine what record should be replaced. With your example, your record doesn't have a primary key set. That's why you're getting `_no_key_X`.

[2019-11-07 17:12] CalebJTSmith opened #86 "Option to fetch data in the model on initialization"
I need to fetch data on initialization if no data exists - keeping that logic all in one contained area instead of repeated for every component that needs access to the results. I thought I could hook into the `beforeSelect` lifecycle, but there is no await there so the pending promise freaks it out. Does anyone have any tips on how to make this happen?

Example: On page load, I have the below cod

[2019-11-08 14:17] alexvdschans commented on #85
The way that we currently work around this issue is by extending the model itself with a custom `store` action and using the `dataTransformer` property as a callback.

`
static apiConfig = {
    actions: {
      store (board) {
        this.post('/api/v3/boards', board, {
          dataTransformer: (response) => {
              Board.delete((board) => {
                  return board.id == null

[2019-11-10 15:34] vesper8 opened #87 "hydration issue when using vuex-persistedstate with many-to-many pivot model"
I wasn't sure whether to create this issue on the main vuex-orm or here because I'm not sure which part is the guilty party.

I'm using the latest versions of both vuex-orm (0.33.0) and this plugin-axios (0.9.0)

I've followed the guide in order to create many-to-many relationships

I have 4 models in all
User
Project
Skill
UserSkill

The relationship between user and project is one-to-many and th

[2019-11-11 14:27] JelleScheer commented on #85
Instead of calling a replace function we could pass a parameter { sync: true } to Model.api.post() to sync the callback with the model that was saved. That way we would not have to delete the created model which would mean the frontend (in most cases) would not have to 'reset'.

To demonstrate with my use case:
`Post.insert({ data: { title: 'Basic title' } }).then((new_post) => {
     Post.api().p

[2019-11-13 01:13] vesper8 opened #88 "request to add a method('get/post/patch/put/delete') to api"
currently the built-in methods are .get() .post() .patch() .put() .delete(), but I often find myself in functions that can handle multiple different methods, with regular axios rather than do `axios.post()` or `axios.patch()` I prefer to use

[code]

This way I don't have to write two almost identical functions or do an ugly if/else

Would it be possible to add this to this plugin? so that I could

[2019-11-15 08:50] kiaking commented on #86
@CalebJTSmith I understand your pain. Though, it's more of Vue's limitation. You shouldn't be calling async operation on computed property. You need to separate Write operation (loading data from the backend and *writing into the store*) and Reading operation (get data out of the store).

What you're trying to do, is same as calling Vuex actions inside computed property. You don't want to do that.

[2019-11-15 09:18] kiaking commented on #87
Thanks for the report! Hmmm... Not sure why. I have never used vuex-persistedstate myself, so hard to tell. Is it possible for you to create a reproducible code for this? I need to look into how persisted state works.

[2019-11-15 09:29] kiaking commented on #85
Ah, interesting. Maybe it could work. All records created by Vuex ORM has `$id` attribute. It's always unique (it's the index key value of the record). So maybe we could use that. Well, still you need to pass data with that unique key, in your case at `new_post.posts[0]`. In this case, we're passing model instance so no problem.

But if you do things like `Post.api().post('', { title: 'Example tit

[2019-11-15 11:54] vesper8 commented on #87
Hey @kiaking

I've gone ahead and created a reproducible demo here https://github.com/vesper8/vuex-orm-axios-test

it uses https://my-json-server.typicode.com to mock the API

On first run you see it correctly populates all models and their relationships, upon reload it detects that the data is already persisted with vuex-persistedstate and tries to load it from there

It loads it correctly, but i

[2019-11-15 14:15] CalebJTSmith commented on #86
That mixin is interesting - I didn't realize we could create mixins like that, so that's really exciting! This sounds like the most reasonable and reuse-able setup that I can get to keep the general flow pretty standardized.

I appreciate the effort and time to respond to my question - and thanks for working on this package! It's truly been a lifesaver.

[2019-11-15 14:15] #86 closed

[2019-11-17 13:13] alex-kowalczyk opened #89 "Response.entities is not immediately available after `await this.api().get(...)`"
The following code logs that `response.entities` is null, even though later (e.g. when clicking 'expand' triangle' in chrome's console log) the data is there - see the screenshot. I haven't found anything in documentation on that behavior. Is it a bug, or should something more be awaited?
[code]
![image](https://user-images.githubusercontent.com/7422175/69007864-ddfc9c00-0943-11ea-8faf-7fc3ffc20af

[2019-11-17 13:18] alex-kowalczyk commented on #89
https://github.com/vuex-orm/plugin-axios/blob/ba4843401eb7570007074266e4c5362930baf0c9/src/api/Request.ts#L151

I believe this line misses `await` - should be:
``config.save && await response.save()``

[2019-11-17 13:34] alex-kowalczyk commented on #89
Possibly it's caller (async Request.request)  shoul await this.createResponse too:
https://github.com/vuex-orm/plugin-axios/blob/ba4843401eb7570007074266e4c5362930baf0c9/src/api/Request.ts#L122
`return await this.createResponse(axiosResponse, requestConfig)`

[2019-11-18 08:32] kiaking commented on #88
@vesper8 YES! The method you want is `request`.

[code]

The `request` method is equivalent to `axios()` 👍

[2019-11-18 08:51] kiaking commented on #89
Oh, thank you for the report! Yeah, you sounds pretty much right about it. We should be adding it.

[2019-11-18 10:57] kiaking commented on #82
Added the warning log in Vuex ORM Axios 0.9.1! 🎉
https://github.com/vuex-orm/plugin-axios/releases/tag/v0.9.1

[2019-11-18 10:57] #82 closed

[2019-11-18 10:57] kiaking commented on #89
This is now fixed in Vuex ORM 0.9.1! 🎉
https://github.com/vuex-orm/plugin-axios/releases/tag/v0.9.1

[2019-11-18 10:57] #89 closed

[2019-11-21 14:00] mean-cj commented on #85
Hello @kiaking

I think "sync" option can be add
if enabled sync option , the first remove all data on current model
and remove all relations only hasOne , hasMany

example if i would get all post records from api
and sync between response data with data on model
[code]

**Now i will use**
[code]

what do you think?

[2019-11-25 15:59] vesper8 commented on #87
@kiaking have you had a chance to look into this? you should be able to reproduce it easily with my sample repo.. in which case you could officially mark this as a bug?

[2019-11-27 10:05] kiaking commented on #85
@mean-cj Well if you want deleteAll records, then you could simply use `create` method, so maybe introducing API to specify Vuex ORM method would be enough.

[code]

This issue is originally about replacing single or few records with new one, so maybe we should have new issue for delete and insert all thing.

[2019-11-29 08:30] AlekseyPn opened #91 "Can i override default actions as get post put, delete?"
For example i need to override get,post,put,delete, because i use 0.5.1v and i need to migrate from this version to new version easy.

And can i call after override Use.api().get(config) or User.api().post(data, config), without pass url?

[2019-12-03 10:11] kiaking commented on #87
@vesper8 Sorry for taking so long. I just haven't had time yet. I'll try looking into it soon!

[2019-12-06 14:09] reinerBa opened #92 "How to post in the new version?"
In the old version i could create a new item with

[code]
which resulted in a post with payload
![how to post](https://user-images.githubusercontent.com/4329883/70328592-b65d6d00-1839-11ea-8859-73fadca55efd.png)
Now i write
[code]
buth this both results in
![post neu](https://user-images.githubusercontent.com/4329883/70328854-56b39180-183a-11ea-9089-7adafc5a51fb.png)
which fills the model in my We

[2019-12-08 12:56] shafiramaki opened #93 "delete all records then insert new one"
if response is true then delete all data and insert new data otherwise ignore it.

[2019-12-16 12:38] #92 closed

[2019-12-17 01:28] cuebit commented on #87
@kiaking I could reproduce your issue. This plugin isn't the culprit I don't believe. Updating `@vuex-orm/core` to v0.34.0 resolved the issue for me. Maybe attempt that first and see if this is the case for you?

[2019-12-23 11:11] kiaking commented on #91
@AlekseyPn Hi! Sorry for my late reply. You could define those methods at your base model and let other models extend it!

[2019-12-24 01:49] kiaking commented on #93
Yap, we need this one!

[2019-12-24 02:07] kiaking commented on #87
@cuebit Ah... Maybe it fixed because now we're storing data as POJO. So, I'll be closing this one for now. Please feel free to open another issue if there's anything!

[2019-12-24 02:07] #87 closed

[2019-12-24 02:40] vesper8 commented on #87
I can confirm that changing the package.json to request ^0.34 has fixed this issue

[2019-12-24 02:46] kiaking commented on #87
@vesper8 Thank you so much for the confirmation! 👍 💕

[2019-12-26 11:18] allocenx commented on #21
@kiaking i still do not get it, how does this even help with the pagination? I want to store the full data and pagination aswell as i'm doing an infinite scrolling ...

[2019-12-31 12:43] toinbis opened #95 "get data from api without importing the model"
I've been using vuexorm with such syntax `this.$store.getters['entities/user/query']().all()` . I liked the idea of calling the global store, not having to import anything at component level.

Now I try to use axios plugin. Following the docs, I made this work `import User from '../database/models/User'` <...>  `User.api().get('http://127.0.0.1:8000/api/v1/user/')` . Am wondering if there is a way

[2020-01-08 21:32] innovate-invent opened #97 "Merge configs"
Currently object unpacking is being used to combine all of the configs. This does not allow setting axios settings higher up in the config stack that are objects.
For example, if I want a global param for all requests I would expect to be able to go:
[code]
Currently any lower config specifying params will overwrite this.
Something along the lines of lodash merge should be used.
If I wanted to uns

[2020-01-08 21:55] innovate-invent opened #98 "Expose merged config in request"
The change from version 0.5 removed the ability to inject url parameters into the request for the model.

It is still possible to recover some of this by setting in the model:
[code]
and only use api().request({}).
I would like to recover all of the functionality by exposing the built config in the Request object returned by api(). This will let me modify the `url` property to inject parameters be

[2020-01-09 22:36] AdrienPoupa opened #99 "Can't load relationships: query.getModel(...) is undefined"
Hello,

This is my first time using VuexORM so my question may be really dumb.

I have an entity, Portfolio, that hasMany Positions.

My API endpoint is as follows:

[code]

My models:

[code]
[code]

In my component, I call

[code]

My store fills the portfolio properties when it has no relationships but I get the following error when I try to load the positions:

[code]

[code]

Am I missing som

[2020-01-09 23:56] AdrienPoupa commented on #99
Turns out this is not related to the Axios plugin, I have the same result when I call insert directly.

Opened https://github.com/vuex-orm/vuex-orm/issues/539 instead.

[2020-01-09 23:56] #99 closed

[2020-01-10 13:29] matlow opened #100 "Json-ld/Hydra Implementation"
Hello,
Does anyone tried to use axios plugin to parse json-ld/hydra payload ?
Thx for reply

[2020-01-15 01:19] mblarsen commented on #21
This is not directly related to the issue, but I'm writing here in case it might help someone else.

When you do pagination (w/sort) you'll also need to know which elements belong on the "current page", but this plugin uses insertOrUpdate after fetching your "page" from the end-point, essentially adding the "first" and the "second" page when you navigate.

What you have to do is is replace instead

[2020-01-15 16:04] AlekseyPn commented on #91
I tried override methods and all works perfectly, thanks for answer

[2020-01-15 16:04] #91 closed

[2020-01-22 18:02] MeldunKitty commented on #88
Hello! Can you add data argument for api().delete(url, config)? For example api().delete(url, **data,** config)
I have scripts for mass deleting records, when I need DELETE header to send record identifiers and it seems to me that it is not very convenient to use a configurable query for such cases.
Ty!

[2020-02-04 12:24] Olafxso opened #102 "Generate vuex-orm axios code"
Hi,

I have got a REST api and want to connect with it from a Vue app.
It would be very usefull if there is a tool which can generate the client-side code for the rest api.
I found this generator : https://openapi-generator.tech/
It does not produce vue compatible code. Does somebody know if there is some tool for generating the code?

It should generate the code from a file like this:
[code]

tha

[2020-02-04 13:09] cuebit commented on #95
You absolutely can, perhaps not exactly the way you've described but most certainly achievable since [@vuex-orm/core v0.35](https://github.com/vuex-orm/vuex-orm/releases/tag/v0.35.2)

Vuex ORM v0.35 introduces an additional [means of retrieving models](https://vuex-orm.github.io/vuex-orm/guide/model/retrieving-models.html) without the need to import the model modules directly.

[code]

[2020-02-04 13:30] cuebit commented on #88
@MeldunKitty – all request methods mimic the same pattern as axios' request method aliases. I can only sense a level of confusion with end-users if this were to change. Sorry if this is an undesirable side-effect for you.

[2020-02-06 19:58] toinbis commented on #95
Thanks a lot for guidance!

[2020-02-06 19:58] #95 closed

[2020-02-12 14:24] thhan commented on #100
This feature will be awesome

[2020-02-19 10:16] AlekseyPn opened #103 "Tag 0.5.1 troubles"
We use 0.5.1, and i got error for update method, i call update without params and not pass id into params. Fix it please or help to resolve that error.

Fail code in Update.js.
`static onRequest(model, params) {
    return model.update({
      where: params.params.id,
      data: {
        $isUpdating: true,
        $updateErrors: []
      }
    })
  }`

Unfortunately we can’t upgrade to the new v

[2020-02-24 20:02] MohMehrnia opened #106 "error in axios registration"
i writing below code for vuex orm axois

[code]

[code]

[code]

but when can getUsers show me an error:
Uncaught (in promise) Error: [Vuex ORM Axios] The axios instance is not registered. Please register the axios instance to the model.

[2020-02-26 05:36] kiaking commented on #97
Thanks! Yea good idea. And thanks for the PR too! I'll check the PR.

[2020-02-26 05:42] kiaking commented on #98
Are you trying to set base url? Not so sure what is your proposed behavior here. Could you give me an example of the API?

[2020-02-26 05:48] kiaking commented on #102
Sorry I don't know any libraries to do this...

Closing this one for now since it's not really related to Vuex ORM Axios. It might be better to post it to something like forum or StackOverflow?

[2020-02-26 05:48] #102 closed

[2020-02-26 05:51] kiaking commented on #88
@MeldunKitty Yea, as @cuebit mentioned, I think API should be exact same as axios methods. Also, I don't think `DELETE` http method accept body either.

Closing this issue since I think the original question was answered.

[2020-02-26 05:51] #88 closed

[2020-02-26 05:53] kiaking commented on #100
I don't think Vuex ORM Axios is going to support any specific API spec such as this or JSON API. Instead I think you can do that within `dataTransformer` config option 👍

[2020-02-26 05:53] #100 closed

[2020-02-26 05:55] kiaking commented on #103
Hmm... not sure why. What kind of error do you get?

[2020-02-26 06:04] innovate-invent commented on #98
I am trying to set the axios `url` config. This is different from the baseUrl.

I ended up completely re-implementing the Request functions in my model:
https://github.com/brinkmanlab/galaxy-client/blob/f9d493674cdb7e11987b0baebbd0b56860702303/src/api/_common.js#L59-L105

The goal is to allow the model to build the url in an inheritance chain and recover the url building functionality of the previ

[2020-02-26 06:14] kiaking commented on #106
Oh you have to pass the axios instance to `axios` key.

[code]

[2020-02-26 06:19] kiaking commented on #74
Closing the issue due to inactivity. We should have another issue for model entity name support if we need that.

[2020-02-26 06:19] #74 closed

[2020-02-27 08:28] steven0811 commented on #83
Even this issue was closed, but not solved, every time I save the `/modes/Post.ts` file, console will log this error when Hot reload finish.

I'm using Nuxt.js + Typescript + This plugin.

![Screen Shot 2020-02-27 at 4 17 45 PM](https://user-images.githubusercontent.com/4948562/75425126-0baea380-597d-11ea-8742-a98a675a19bc.png)

[2020-02-27 18:49] #106 closed

[2020-03-01 06:31] AlekseyPn commented on #103
id is not defined, because I dont need id. I passed simply id:1 and it work

[2020-03-03 09:45] kiaking commented on #83
Hmmm... Yeah, I think we need a better way to support Nuxt... Need to think deep on this.

[2020-03-03 09:47] kiaking commented on #103
Sorry not sure what you mean here. What is not defined? You're getting an error right?

[2020-03-05 13:47] AlekseyPn commented on #103
Example from my code:
call model.$update(payload) - not pass params object, because in our backend we has PUT method without any params, includes id

After calling update i getting an error "id is not defined" because params undefined. And i need make little hack for call model.$update(payload, {params: {id: 1}}), when id is not real id.

Already it is not critical. We decide migrate on new versio

[2020-03-05 13:47] #103 closed

[2020-03-08 04:41] kiaking commented on #103
Oh OK, thanks you do much!

[2020-03-09 04:22] steven0811 opened #107 "Use custom action with $db().model('').action, Typescript types error."
I'm using Nuxt.js + Typescript + vuex-orm with this plugin.

And `vuex-orm` docs recommend that use this.$store.$db() in SSR environment, and also recommend choose one method in same time (import or $db) [here](https://vuex-orm.github.io/vuex-orm/guide/model/retrieving-models.html#fetch-from-database).

But I'm facing a problem that typescript can't know that my custom action in Model.

![Screen S

[2020-03-09 10:40] ZeroThe2nd opened #108 "Database not shown as required parameter in docs, can't access api() from model."
While attempting to get the plugin installed into Vuex ORM, I've first received the message in my console that I have to pass a database instance to the Use line of the plugin.

After adding the by the console requested instance of the database (which is not listed as a requirement in the example on the documentation page), I can't seem to make requests as calling `User.api()` does not exists on m

[2020-03-09 10:48] ZeroThe2nd commented on #108
Correction: I'm an ass and did not notice my `yarn add @vuex-orm/plugin-axios` somehow installed v0.5.2 instead of v0.9.2
My apologies. All is good now.

[2020-03-09 10:48] #108 closed

[2020-03-09 13:00] kiaking commented on #108
Glad to hear you fixed this 👍

[2020-03-09 13:03] kiaking commented on #107
Ah... good point. Yeah, maybe that custom typings might not work well with TypeScript. I don't think there would be an easy way to handle this... Hmmm...

For now, would it be possible for you to use a plain model method?

[code]

[2020-03-10 07:07] Uysim opened #109 "Delete is not deleting record"
I do
[code]
It called to api but it didn't delete in Vuex Orm

Now I work around
[code]

[2020-03-10 07:52] kiaking commented on #109
@Uysim Yes, this is intended at the moment. Please check out "Note on Delete Method" section at the following:
https://vuex-orm.github.io/plugin-axios/guide/usage.html#request

[2020-03-11 03:46] Uysim commented on #109
@kiaking Why don't we delete it directly?

[2020-03-11 07:28] mean-cj commented on #93
Hello Kiaking

I think we need to support  option and method
delete all before create or insert

add option on Model.api
[code]

**use deleteAll() on action.**
[code]

[code]

Thank you.

[2020-03-11 11:40] kiaking commented on #109
Because we there's no mechanism to determine which record to delete, yet. In your case, maybe `{ params: { id: 1 } }` is the record to delete, but the API could be simple as `DELETE /api/tasks` and it might delete task associated with currently logged in user.

Obviously we need good api to handle delete, but it's not there just yet 😓

[2020-03-11 11:42] kiaking commented on #93
Yea I hear lots of request regarding this. I think we need it.

[2020-03-13 03:16] Uysim commented on #109
@kiaking  got it. Make sense. Thank you so much

[2020-03-13 03:16] #109 closed

[2020-03-20 10:04] steven0811 commented on #107
I found this [Fetch from Database](https://github.com/vuex-orm/vuex-orm/blob/84ff72baed5a56195d4ee4aa4df2fb679e11415f/docs/guide/model/retrieving-models.md#fetch-from-database)

[code]

Problem solved, thanks.

[2020-03-20 10:04] #107 closed

[2020-03-21 20:46] maspio opened #112 "model.api.get(url, config) ignores config.dataTransformer if config.save == false"
### Szenario

- set [save == false](https://vuex-orm.github.io/plugin-axios/guide/configurations.html#save) to use a custom Model.save() function later

- set [dataTransformer ](https://vuex-orm.github.io/plugin-axios/guide/configurations.html#datatransformer)function to transform response to work with vuex-orm models

I also tried out setting safe after dataTransformer without success.

### Code

[2020-03-21 23:03] cuebit commented on #112
The `dataTransformer` is designed to work with the `save` option. If you choose not to save then processing the response is entirely up to you. However, I do feel the transformer should be executable albeit manually. Something that’ll need to be considered.

In the meantime there are two avenues you could take to work around this:

1. Create a reusable transformer method that you can pass in the c

[2020-04-02 09:38] kiaking commented on #112
@maspio Hi! Do you have any updates on this?

[2020-04-04 02:32] brendon opened #115 "Documentation improvement for non-get method options"
#### Describe the improvement

The documentation tends to lack examples for other methods like `put()` and `post()`. While the methods are documented with their argument signatures, it took me a while to figure out I needed to pass `{save: false}` as a third argument to `put()` for example because the examples of this config only show `get()` :D

[2020-04-06 21:06] DQvsRA opened #116 "How to make subsequent requests in fetch?"
I want to load more data after got first response, and then merge all results together, it's like paging, but second `await this.get(page_two_data_url)` replace first data.
[code]
this example a little bit more complicated it has `redirect`, but anyway, please help!

[2020-04-06 21:26] DQvsRA commented on #116
Actually solve by setting `{ save: false }` on `await this.get(data.redirectUrl` and then merge two request together in third response in `dataTransformer`

[2020-04-06 21:26] #116 closed

[2020-04-06 21:35] cuebit commented on #116
Glad you've managed resolved your issue, Vladimir!

Please don't hesitate to ping the community on [Slack](https://join.slack.com/t/vuex-orm/shared_invite/enQtNDQ0NjE3NTgyOTY2LTc1YTI2N2FjMGRlNGNmMzBkMGZlMmYxOTgzYzkzZDM2OTQ3OGExZDRkN2FmMGQ1MGJlOWM1NjU0MmRiN2VhYzQ) if you have any more questions.

👍

[2020-04-14 02:47] brendon commented on #93
Would this be useful in the following case?:

I'm on a password reset page and am fetching the User via a token. When found, the user is loaded into VuexORM, I then fetch the user with `first()` (this seems slightly dodgy currently as it assumes an empty collection just prior to the fetch).

Also at the moment, navigating back to the password reset page doesn't show a 404 because the User is still

[2020-04-14 05:48] cuebit commented on #93
I think this issue boils down to the user being able to leverage the persist methods and/or options.

The underlying `save()` method currently invokes `User.insertOrUpdate` but in reality, while this should be considered the default behaviour, users should be able to configure persistence to alleviate current limitations.

An option such as `deleteAll` is useful but, as previously pointed out, thi

[2020-04-14 06:11] kiaking commented on #115
Ah, good point. Yeah we should add those examples as well.

[2020-04-14 06:14] cuebit commented on #115
FYI there is a PR that addresses this to some extent.  #117

[2020-04-14 06:14] kiaking commented on #93
@cuebit Yeah I think that's what we should be doing 👍

[2020-04-14 06:32] kiaking commented on #112
Closing the issue due to inactivity. Please feel free to open another issue if there's anything 👍

[2020-04-14 06:32] #112 closed

[2020-04-15 14:46] larryh commented on #83
Happened to me, too, in a newly-created Nuxt project with the players in this scenario, i.e. all versions should be latest-and-greatest.

When I first fire up the app in Dev Mode and try to do a "get" on a button-click I get this error and no request goes through. After I refresh the page it works fine.

Good luck with the deep thinking... and thank you!

[2020-04-16 02:45] mean-cj commented on #83
**My current method on Nuxt**

**store/index.js**
[code]

**plugins/vuex-orm-axios.js**
[code]

[2020-04-20 20:32] riccardo92 opened #118 "Default pending state flags"
#### Is your feature request related to a problem? Please describe...

It is not related to a problem. In pure Vue + Vuex setups, I normally define "pending flags" in each module's state. These pending flags are used to track whether an API call is in progress, for example `fetchingUserPending`. I set these to false at the beginning of an action and to true in both the `.then` and `.catch` callbac

[2020-04-20 23:24] cuebit commented on #118
Thanks @riccardo92 for opening this issue.

I absolutely agree that there is a lot of boilerplate code when it comes to dealing with supplementary states with requests and I understand the frustrations.

This is something we have given a lot of thought, and there is some light at the end of the tunnel in regards to finding a solution that represents all possible use-cases. Generally, though, the s

[2020-04-23 21:19] #115 closed

[2020-04-24 18:43] mean-cj commented on #93
Hello @cuebit  @kiaking

Thank you for your detail.

it ok , but define save option current doesn't work with relation.
i thank we need option for delete model data with relation hasOne, hasMany beforeCreate

or if can define hook method on api option
Example
[code]

**Work for me,  i use hook for delete all relation**
[code]

[2020-04-24 22:45] cuebit commented on #93
@mean-cj I don't think the plugin will have any intention of handling relations, let alone deleting them, simply because it just bridges axios and Vuex ORM. Until Vuex ORM supports cascade deletes, your solution is about as good as it gets.

[2020-04-25 01:19] cuebit commented on #98
@innovate-invent is there anything further you'd like to add to this issue?

[2020-04-25 08:03] mean-cj commented on #93
Hello @cuebit
Thank you very much for your update and PR.

[2020-04-25 08:40] mean-cj commented on #93
Hello @cuebit thank you so much.

I use entities per request doesn't work

ajax response is ok , last response not exists order_id
but orderModel not deleteAll data before create and not callback beforeCreate method after ajax response.

`Order.api().cancleOrder()`

[code]

[2020-04-25 12:29] mean-cj commented on #93
Hello @cuebit

deleteAll on beforeCreate doesn't work
because myModel append data before call to beforeCreate method

therefore if use deleteAll in beforeCreate, order relation is empty
[code]

[2020-04-25 13:14] cuebit commented on #93
@mean-cj not sure I follow. Assuming you are using `save: 'create'`, this will invoke `Model.create()` and any corresponding hooks should still fire. If your request also contains relations, those relations will also use the `create` method on their respective models.

[2020-04-29 17:20] innovate-invent commented on #98
@cuebit what more would you like me to add?

[2020-04-29 20:54] cuebit commented on #98
@innovate-invent let me rephrase, is this issue now resolved?

[2020-05-05 03:09] mean-cj opened #120 "persistBy:create , data relation is missing"
#### Describe the bug

Define **persistBy: create** , belongsTo has overwrite new data
then relation data is missing.

[code]

#### Steps to reproduce the bug

**1. Define models**

[code]

[code]

**2. Create data**
[code]

**3. Test CALL API :: Order.api().fetch();**

Response data
[code]

The same problem
[code]

**4. See error**
Seat id 2, 3 is missing
[code]

#### Expected behavior
What do yo

[2020-05-05 10:16] cuebit commented on #120
@mean-cj thanks you for opening this issue.

This is a valid and very significant point you have raised.

I've created a PR (#121) that I'd be keen to get your feedback on. Let me know if you get time to check it out.

[2020-05-05 11:26] mean-cj commented on #120
Hello @cuebit

WOWWW ,  SO Excited
Thank you very very much for your PR,

I love your inspred. ^O^

[2020-05-05 11:45] mean-cj commented on #120
Hello @cuebit

Please commit with Dev Branch

Thank you.

[2020-05-07 05:58] cuebit commented on #120
Resolved by #121

[2020-05-07 05:58] #120 closed

[2020-05-07 05:59] cuebit commented on #93
Resolved by #119

[2020-05-07 05:59] #93 closed

[2020-05-13 13:38] JKrol commented on #98
I have similar question. Currently, each time I want to call API, I have to provide the URL. It would be great to have an option, to define the URL on the model level.

Example - lets say I have a User model. Now I want to call `get` on the user - I have to write:
[code]
If I have many places in code where I want to get users, I have to provide '/api/users' URL in each place. It would be great to

[2020-05-13 14:06] cuebit commented on #98
@JKrol sure, you can define common options at model level [as documented](https://vuex-orm.github.io/plugin-axios/guide/configurations.html#model-configuration).

However, simply invoking `User.api().get()` without a URL is not possible. It's not how axios functions.

If you want pre-configured or shorthand methods to simply invoke anywhere in your application, consider using [Custom Actions](http

[2020-05-25 07:10] mean-cj opened #122 "API Response then(response) not equal catch(response)"
Hello

I think response on catch() to the same format as then() is better
because response format from then() has a config , model

and plugin-axios make it the same http response style

**return this.post('').then((response) => { console.log(response) })**
![2020-05-25_140219](https://user-images.githubusercontent.com/1191385/82787348-67ab9a00-9e90-11ea-862d-77fdd6c50752.jpg)

**return this.post(

[2020-05-28 08:17] kiaking commented on #122
Ah I didn't see this differences. Thank you for pointing out! We should look into this on the next iteration of Axios plugin.

[2020-06-05 02:18] omanizer opened #123 "API request result.entities contains records in a different order than they were returned from the server."
#### Describe the bug

This is more of a question but something that might be worth addressing.  I have an API endpoint that returns a list of conversations.  If I pass in a query string parameter "include_archived" it returns a full list of conversations (including those that have been archived).  This endpoint always returns the conversations in order of time descending.  It seems that the order

[2020-06-08 08:40] kiaking commented on #123
@omanizer Yes, this is expected behavior at the moment. I understand your pain, but this is something to do with fondamental of Vuex ORM.

Because all the records are normalized and stored at the store, it's a bit hard to restore the original order of the records. Because `entities` contains all of the same entities. For example, when you have response with `post` with `author` which is a user, an

[2020-06-19 13:22] cmitz commented on #76
@KaniRobinson did you get any chance to make a start? I could maybe help you out, although I'm not fluent in Vuex ORM yet

[2020-06-25 16:43] vesper8 opened #126 "issue with using with nuxt-i18n, language is appended to all api calls"
I know this may be a problem on nuxt-i18n's side but I think it's relavant to mention here as well.

I'm using vuex-orm with the plugin-axios in a nuxt project that is multilingual and am using nuxt-i18n to handle the translations. I'm using the `prefix` strategy instead of the default `prefix_except_default` which basically means that nuxt adds `/en` to any route that doesn't already have it.

I

[2020-06-25 16:46] vesper8 commented on #126
This only happens with plugin-axios, axios itself isn't exhibiting this problem.

So for example this code:

[code]

In the first case it correctly calls `/api/videos` and in the second it calls `/en/api/videos`

[2020-06-25 17:02] vesper8 commented on #126
This was being caused because I was registering the default axios, once I did it the "nuxt way" as described here: https://vuex-orm.github.io/plugin-axios/guide/setup.html#nuxt-js-integration, then this problem went away

[2020-06-25 17:02] #126 closed

[2020-07-01 16:48] mean-cj opened #127 "persistBy: "create" not deleteAll data on relation"
Hello

I found bug with { persistBy: "create" }
the item relation is not clear or deleteAll() before/after call order.api()

please review this bug from codesanbox
https://codesandbox.io/s/vuex-orm-relation-test-h6xmb?file=/src/App.vue

** item is exists after call order.api() **
[code]

I thank when set "persistBy: "create"," or persistOptions
deleteALl() any data on relations so will be correct

[2020-07-01 19:33] cuebit commented on #127
@mean-cj thanks for opening this issue.

This is expected behaviour, and I wouldn’t consider this a bug. For `create` to have any effect on a model there needs to exist at least one record for the target relation. Since the reproduction example you’ve provided yields no relations in the second call, the normalisation omits the `merchant_item` altogether subsequently not invoking the `create` comma

[2020-07-02 06:10] mean-cj commented on #127
thanks for your so much for your suggestion and your code.

what do you think if there are support deleteAll option on persistOptions
for the choice to clear all data relation before call this { persistBy }

[2020-07-02 06:31] cuebit commented on #127
There will be support for this feature in the next iteration of Vuex ORM. For the time being you may have to resort to the more verbose approach.

[2020-07-21 18:33] mean-cj commented on #127
Hello @cuebit

When i return with save() , the promise return only catch
`return orders.save()`

[code]

I don't know why

thanks

[2020-07-21 18:46] mean-cj commented on #127
I think action only catch because save() return PromiseValue is undefined

`console.log( orders.save() )`

[code]

[2020-08-14 15:59] yoelpc4 opened #129 "Missing related polymorphic model on store entities after data transformation"
#### Describe the bug

I have User, Institute, and Activity model with morph many relationship as follow:
1. User morph many actions
2. User morph many activities
3. Institute morph many activities

and inverse morph many relationship as follow:
1. Activity morph to causer
2. Activity morph to subject

The purpose of activity model is to logging activities (create, update, soft delete, restore, or

[2020-08-17 23:50] cuebit commented on #129
While this isn't an issue with the axios plugin per-se, it seems to point to either Vuex ORM or json-api-response-converter.

Currently a `morphTo` relation expects the `id` and `type` to exist in the given record since it doesn't need to attach foreign keys to the related model. Given your transformed data doesn't provide that, the necessary relations are not generated. For example, the following

[2020-08-18 10:04] yoelpc4 commented on #129
Thanks for responding my issue @cuebit, the reason why I'm asked here instead of on vuex-orm package, is because of the dataTransformer timing so that I can provide data with expected morph to format.

This case is using User as causer and Institute as subject, anyway how can I guess the type of converted data if I have registered 44 models on vuex-orm database?

Another point to mention is JSON:A

[2020-09-11 14:35] js-wi5 opened #130 "Handling of response errors"
#### Describe the bug

When an API request receives an error status code in the response (eg 400) I would expect the API functions (this.post, this.get etc) to reject

#### Steps to reproduce the bug

Create an API method like this:
[code]
Ensure the endpoint responds with a 400 status code.

Call the method:
[code]

#### Expected behavior

'Request was unsuccessful' is logged.

#### Actual behavi

[2020-09-22 17:03] js-wi5 commented on #130
Closing - found it was due to a local interceptor util function that was not throwing an error on bad response

[2020-09-22 17:03] #130 closed

[2020-10-02 21:57] jlefebvre1997 opened #131 "Update relationships on fetch"
Hello, more of a question than a feature request here

Is it possible to update relationships when fetching related objects ?
I use this placeholder API as an example : https://jsonplaceholder.typicode.com

I defined a `User` model and an `Album` model. Is it possible to fetch the Albums, then fetch the Users and update the Albums with the user IDs ?

Thanks in advance !

[2020-10-02 22:44] cuebit commented on #131
Yes. The plugin handles the request and entity mutations for you, provided the API returns data in the correct format and adhere to the model schema you declare.

Check out the docs for both Vuex ORM and this plugin for more details. You can also get help from the community [Slack channel](https://join.slack.com/t/vuex-orm/shared_invite/enQtNDQ0NjE3NTgyOTY2LTc1YTI2N2FjMGRlNGNmMzBkMGZlMmYxOTgzYzkzZ

[2020-10-02 22:44] #131 closed

[2020-10-04 03:47] diegopamio opened #132 "Inserting multiple records at once."
#### Is your feature request related to a problem? Please describe...

I'm adding a list of countries to the store, and it almost freezes the app, and when I look to the performance of vue components, it lists 270+ inserts from the plugin.

#### Describe the solution you'd like

Isn't possible to just make one mutation and send to vue-orm the array of results after the transformation?

#### Descri

[2020-10-12 21:20] parkan commented on #85
chiming in with a +1 on this functionality, I think it's a quite common RESTy pattern to POST a model to get a server-assigned id

the workaround I am looking at now is having an extra model `class TempPost extends Post` which overrides the id field to be a UID type (not sure if there's a good way to override just one field?) and deleting the corresponding TempPost once the real Post is saved

how

[2020-10-29 14:35] PaintingCaves commented on #132
Hi there, I had a similar issue but it turns out you can perform your mutation and return the array of results. For example:

`static FetchAll({page = 1, limit = 15}, query = {}, relationships = []) {
        return this.api().get("/users", {
                params: {
                    ...{
                        page: page, limit: limit, with: relationships
                    }, ...(query !==

[2020-10-29 14:48] cuebit commented on #132
Closing this as it's since been resolved over on Slack.

For anyone washing up here, the number of mutations depend on whether data is being inserted or updated. Since updates are performed incrementally, the more updates performed the more mutations committed. To get the best out of performance when dealing with large data it's advised to use `insert` or `create` over `insertOrUpdate`.

[2020-10-29 14:48] #132 closed

[2020-10-30 19:02] xorinzor commented on #78
@kiaking any updates on this?

[2021-01-04 03:47] rpgwhore opened #133 "Retrieving Users with M:M relationship is causing infinite loop in mounted()"
#### Describe the bug

mounted() { User.fetchAll() } is infinite looping

#### Steps to reproduce the bug

`export default class User extends Model {

    // This is the name used as module name of the Vuex Store.
    static entity = 'users';

    static state() {
        return {
            fetching: false,
            fetchingSingle: false
        }
    }

    // User fetchByID Custom Action

[2021-01-04 03:47] rpgwhore commented on #133
I do the same thing in ManageLocations.vue

`
mounted () {
  Location.fetchAll()
},`

and this one works fine, but when I do User.fetchAll() in my ManageLocations.vue it loops :'(

[2021-01-04 03:48] rpgwhore commented on #133
Also, apologize, testing with the response in locations was just me trying to figure out what the heck was going on :D

[2021-01-04 04:06] rpgwhore commented on #133
Found my problem. Apparently since I was using a dynamic key on my <component> it was re-rendering during every change and FREAKING out

[2021-01-04 04:06] #133 closed

[2021-01-05 14:16] Nijusan opened #134 "Outdated axios dependency"
#### Is your feature request related to a problem? outdated axios dependency

https://www.npmjs.com/advisories/1594

#### Describe the solution you'd like

is it possible to update axios dependency to the latest version?

[2021-02-01 00:58] cuebit commented on #134
Fixed in [0.9.4 release](https://github.com/vuex-orm/plugin-axios/releases/tag/v0.9.4) 👍

[2021-02-01 00:58] #134 closed

[2021-02-20 18:15] 7ammer opened #135 "Setup issues with vue3 - Item.api is not a function"
Hello 👋

vuex-orm and this plugin look great! Thanks for building it. However, I'm having a lot of trouble setting it up locally.
I'm using:

- "vue": "^3.0.5",
- "vuex": "^3.6.2",
- "@vuex-orm/core": "^0.36.3",
- "@vuex-orm/plugin-axios": "^0.9.4",

This is how I've set it up...
[code]
I have created a simple model and am calling the api method like so:
`await Item.api().get('https://example.com/

[2021-02-20 18:24] 7ammer commented on #135
Just to add.
If I update vuex to v4 and change the setup like so:

[code]
Vuex no longer complains but I'm still seeing this error:
`Uncaught (in promise) TypeError: Item.api is not a function`

[2021-03-02 01:48] johnrix commented on #135
Seeing a similar error, having upgraded to latest drafts of VuexORM and this plugin:

[code]

Here's my store setup:

[code]

and the component where I am trying to use it:

[code]

Results in the following:

`Uncaught (in promise) TypeError: this.articleRepo.api is not a function`

[2021-03-02 04:26] cuebit commented on #135
This plugin is still under development and does not contain any functionality found in the current stable release as of yet (hence `this.api` does not exist).

I think we need to make note of this in the repo to avoid further confusion.

That said, as soon as vuex-orm-next is in a good place we can start focusing on the ecosystem.

[2021-03-02 07:44] Charl13 commented on #135
Yesterday I've had the same issue. After changing the order of the setup in the applications bootstrap process it worked fine.

Here's my `store.js` file

[code]

And the `main.js` file
[code]

Related dependencies locked at:

[code]

[2021-03-02 09:34] johnrix commented on #135
Thanks @cuebit, I guess as much. Will keep an eye out for updates and just manually fetch my data in the meantime.

[2021-03-21 23:26] entermix commented on #135
I am confused.

As far as I understand, plugin-axios 0.9.4 is not compatible with Vuex 4?

The last commit for plugin-axios-next was almost a year ago, is this package abandoned? As far as I understand, the minimum functionality is not supported.

No way to use plugin-axios with VueJS 3, Vuex 4?

[2021-03-22 00:17] johnrix commented on #135
@entermix, yep, that is pretty much what cuebit explained above. You're not missing anything. Charl13 is using the older line-up at present, according to his dependency versions.

I am proceeding on Vue3/Vuex4/Vuex-ORM-next without this plugin for the time being.

[2021-03-22 00:43] cuebit commented on #135
plugin-axios is a plugin for Vuex ORM, not Vuex/Vue. It's compatibility is irrelevant to the version of Vue/Vuex. However, it's compatibility is dependent on the version of Vuex ORM. 0.9.4 supports vuex-orm, not vuex-orm-next. Both iterations are compatible with Vuex 4.

It's not abandoned. It's currently not in a position to have core features implemented since they have yet to be finalised. More

[2021-03-22 00:44] cuebit commented on #135
That's awesome! We love gathering feedback from users adopting the next branch as to help improve current (and pending) features. Feel free to drop this into the Slack channel at your leisure 👍

[2021-03-22 13:52] rbayley opened #137 "axios config URL"
Hi everyone!

I am not sure this is a bug or I am misusing the config.
I am setting baseURL globally, and the URL on a model level.
[code]
My goal is NOT to write the URL every time I call myModel.api().get('my_path')....

Is this possible?

I thought it would be as stated on the [Configurations guide](https://vuex-orm.github.io/plugin-axios/guide/configurations.html) _Any axios options are permit

[2021-03-22 14:43] #137 closed, assigned to nobody

[2021-03-22 15:05] #98 closed

[2021-03-22 15:06] #127 closed

[2021-03-23 00:26] entermix commented on #135
@johnrix, @cuebit Thanks! Hopefully soon we will be able to use the new version of plugin-axios :)

[2021-03-25 18:09] darkons opened #138 "Relationships dataKey"
First of all, thank you for this awesome Vuex ORM plugin!

#### Is your feature request related to a problem? Please describe...

There is no way to apply a model relationship dataKey like main model request.

#### Describe the solution you'd like

Some API apps like mine return model relationships in nested key. For example:

`{
   "data":[
      {
         "object":"User",
         "id":"pg75k76

[2021-04-27 19:30] vincentcordel opened #140 "retrieve store from single get"
I'm wondering if the following code could be achieved differently (it works but probably needs refactoring).

Case:
- project has many features
- 2 routes from router: projects list and project show
- project API request includes nested features
- since there are 2 routes, I would prefer to retrieve the store object directly in the project show rather than from the projects list.

[code]

[2021-04-27 19:49] cuebit commented on #140
A more efficient method would be loading `currentProject` as a computed getter. This way your property maintains reactivity since responses return raw data. Above all, retrieving schema from the store is a more reliable way of ensuring data exists and is used consistently throughout your application.

[code]

Bearing in mind `currentProject` may be null initially until the request has completed. S

[2021-08-31 18:48] afuno commented on #83
@kiaking I have this problem when I edit the code of a model that communicates with axios via the Vuex ORM.

[code]

[code]

[code]

The problem comes from having this code:

[code]

Scenario:

1. I load the page, everything is fine;
2. I add the comment `// test` anywhere in the model code;
3. I save the file in the editor;
4. Nuxt rebuilds the code automatically and I see an error: `[Vuex ORM Ax

[2021-10-11 19:54] Nebucatnetzer commented on #137
Why did you close this @rbayley ?
Did you found a solution?
I was just wondering the same about defining an URL on the models and setting the baseURL globally.

[2021-11-03 21:54] ZachPerkitny opened #154 "Ability to extend the Request class (global custom actions?)"
#### Is your feature request related to a problem? Please describe...

I would like to be able to extend the Request class by adding custom methods to retry a request in the background

#### Describe the solution you'd like

Allowed to define actions in the global config

#### Describe alternatives you've considered

An axios interceptor, but then I don't have access to the model used in the reque

[2021-11-04 16:09] cuebit commented on #154
You can define actions in the [global](https://vuex-orm.github.io/plugin-axios/guide/configurations.html#actions) and [model](https://vuex-orm.github.io/plugin-axios/guide/custom-actions.html) configs.

Extending the `Request` class is not possible because it is as an internal object. However, like any object, you can patch the class as you please, for example:

[code]

[2021-11-04 16:12] cuebit commented on #140
Closing due to inactivity. Feel free to open a new issue if you wish to follow up. 👍

[2021-11-04 16:12] #140 closed, assigned to nobody

[2021-11-04 16:19] cuebit commented on #138
Yea this would be useful. However, for most, this is generally not a key requirement. Since API's can appear different, it is down to the user to format the response how they see fit.

[2021-11-04 16:19] #138 closed, assigned to nobody

[2022-01-03 00:04] seankndy opened #155 "Request: please pass the model class to dataTransformer"
It would be nice if this plugin would pass the model class as the second argument to the dataTransformer callback so that the dataTransformer function could mutate extra state in the model.  Example:

In my model:

[code]

Now in the transformer:
[code]

I can accomplish this same sort of thing by passing a 'model' into the axios config during the request:

API call:
[code]

Then in dataTransforme

[2022-01-05 10:17] #154 closed, assigned to nobody

[2022-01-05 10:28] cuebit commented on #155
Curious to understand why you'd need a reference to the constructor?

If you're calling `FooBar.api()`, the transformer belongs to `FooBar`, therefore `FooBar` can be referenced statically.

If your transformer is anonymously generic then that's a user-land resolution.

In the case of the latter, maybe you could use a factory to pass the model reference?

[2022-01-05 19:48] seankndy commented on #155
The data transformer in this case is global and applies to every model.  So in the calling code I am using the static FooBar, but in the transformer itself I don't know which model was called as it's generic to every model.

[2022-04-25 01:28] muhzak opened #163 "InsertIgnore"
Is InsertorIgnore possible with vuexorm axios? For example, If you have cities around the world as entities. Let's say you already have all have half the cities of the world pulled in from different queries.

Now you want to do an API call to get all the cities in North America. You will have duplicates of course. Is there a way to ignore these dupes instead of saving them?

Essentially InsertOrIg

[2022-06-17 12:36] ocratravis opened #171 "Documentation for persistyBy option: Add link to explanation of insert vs. create"
In [the docs for the persistBy option](https://vuex-orm.github.io/plugin-axios/guide/configurations.html#persistby), it would be helpful to link to [the explanation of insert vs. create in the main Vuex ORM docs](https://vuex-orm.org/guide/data/inserting-and-updating.html).

Without this, developers who aren't yet familiar with this aspect of Vuex ORM might be confused by the persistBy docs.